
.CardsList__list{
    list-style: none;
}

.CardList__link:hover{
    text-decoration: none;
}

.CardsList__list--item{
    margin-bottom: 3rem;
}

.CardsList__content{
    background-color: #f7eaff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 28rem;
    border-radius: 1rem;
}

.CardsList__link{
    bottom: 13rem;
    left: 59rem;
    position: relative;
}

.CardList__button-edit i{
    font-size: 2rem;
}

.CardList__button-edit i:hover{
    text-decoration: none;
}

.CardsList__content--text{
    text-align: justify;
    line-height: 2rem;
    position: relative;
    top: 1rem;
    left: 21px;
    width: 32rem;
    height: 20rem;
    background-image: url('../../images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position-x: initial;
    background-size: 6rem;
    padding: 1.7rem 0rem;
    color: #545454
}

.CardsList__content--text p:first-child{
    margin-bottom: 2rem;
}

.CardsList__social-media{
    text-align: center;
    margin-left: 10rem;
}

.CardsList__social-media--icon{
    margin-left: 1rem;
    font-size: large;
}

.lkIn-icon{
    color: #0a66c2;
}

.github-icon{
    color: black;
}

.mail-icon{
    color: #ea4335;
}

.CardsList__content--fig{
    padding: 3rem 2rem 3rem 0px;
    margin: 2rem 2rem 2rem 0px;
    background-image: url('../../images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position: right;
}

.CardsList__content--img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #f5f9ff;
}

